#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  color: white;
}

.title2 {
  font-weight: bold;
}

#card {
  cursor: pointer;
}

#card:hover {
  background-color:  rgb(20, 129, 95);
  color: white;
}

.card-img-left {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 1rem;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card {
  overflow: hidden;
}

#image {
  height: 500px;
  width: 500px;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* Allow the main to grow and fill available space */
}
footer {
  background-color: #c8dace; /* Optional background color */
  text-align: center;
}

.fundraiser-card {
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.fundraiser-card:hover {
  transform: translateY(-5px);
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.progress {
  height: 10px;
}
.btn-donate {
  transition: background-color 0.3s ease;
}
.btn-donate:hover {
  background-color: #0056b3;
}

.fundraiser-container {
  display: flex;
  justify-content: space-between;
}
.fundraiser-card {
  flex: 0 0 40%; /* Adjust the width of the fundraiser card */
}
.donation-list {
  flex: 0 0 55%; 
  max-height: 400px; 
  overflow-y: auto; 
  margin-left: 20px; 
}
.donation-list h2 {
  margin-top: 0;
}