<div class="min-h-screen flex flex-col">
  <!-- Main container with minimum height for full-screen layout -->

  <app-topbar></app-topbar>
  <!-- Top navigation bar component -->

  <div class="flex-1">
    <!-- Flexible div to allow the content area to grow -->
    <!-- Router Outlet to load components dynamically based on the active route -->
    <router-outlet></router-outlet>
    <!-- Placeholder for dynamically loaded components -->
  </div>

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
